<!-- <h2 class="subheader">Semesters</h2> -->
<fieldset class="form-horizontal">
    <legend>New Semester</legend>
    <div class="form-group">
        <label for="semester" class="col-sm-1 control-label">Semester:</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="newSemester.semester" ng-options="s as s for s in semesters"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-sm-1 control-label">Year:</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="newSemester.year" ng-options="year as year for year in years"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fiedset>

<!-- <fieldset class="form-horizontal">
    <legend>Filter</legend>
    <div class="form-group">
        <label for="filter" class="control-label col-sm-1">Semester:</label>
        <div class="col-md-2">
            <select class="form-control">
                <option></option>
                <option>Fall 2013</option>
                <option>Spring 2014</option>
            </select>
        </div>
    </div>
</fieldset> -->
<hr>
<div class="row-fluid">
    <div class="col-md-12">
        <h4>Fall 2013</h4>
        <ul>
            <li><a href="#/dashboard/class/1">CS 150 - Introduction to Programming I</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <h4>Spring 2014</h4>
        <ul>
            <li><a href="#/dashboard/class/1">CS 151 - Introduction to Programming II</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <h4>Fall 2014</h4>
        <ul>
            <li><a href="#/dashboard/class/1">CS 363 - Software Development</a></li>
            <li><a href="#/dashboard/class/1">CS 351 - Data Structures and Algorithms</a></li>
        </ul>
    </div>
</div>
